[submodule "backend/mylab_py_utils"]
	path = backend/mylab_py_utils
	url = https://github.com/kou1046/mylab_py_utils
[submodule "backend/mypkg/device_logger"]
	path = backend/mypkg/device_logger
	url = https://github.com/kou1046/device_logger
[submodule "backend/mypkg/uiflow_dom_logger"]
	path = backend/mypkg/uiflow_dom_logger
	url = http://github.com/kou1046/uiflow_dom_logger
