[submodule "submodules/uiflow_dom_logger"]
	path = submodules/uiflow_dom_logger
	url = https://github.com/koshiba-lab-mono/uiflow_dom_logger
[submodule "submodules/deepsort_openpose"]
	path = submodules/deepsort_openpose
	url = https://github.com/koshiba-lab-mono/deepsort_openpose
