Django
djangorestframework
django-cors-headers
drf-nested-routers
mysqlclient
numpy
pandas
opencv-python
pillow
openpyxl
matplotlib
dacite
questionary
tqdm
scipy
scikit-learn
black
isort
torch 
torchvision
beautifulsoup4
python-dotenv
pillow==9.5.0