Django
djangorestframework
django-cors-headers
drf-nested-routers
mysqlclient
numpy
pandas
opencv-python
pillow
openpyxl
matplotlib
dacite
pillow
questionary
tqdm
scipy
scikit-learn
black
isort
pynput
pyautogui
# torch 
# torchvision