Django
djangorestframework
django-cors-headers
drf-nested-routers
mysqlclient
numpy
pandas
opencv-python
pillow
openpyxl
matplotlib
dacite
questionary
tqdm
scipy
scikit-learn
black
isort
pynput
pyautogui
easyocr
torch 
torchvision
pillow==9.5.0
